<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">   
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<script src="https://kit.fontawesome.com/eeb5c431c2.js" crossorigin="anonymous"></script>
<body>
    <%- include('partials/navigation')%>
    
    <!-- Mensaje centrado -->
  

   <!-- Seccion 1 -->
   <section id="Home">
    <div class="container">
    <h1> Criptografia <br> Proyecto - 1</h1>
        <div class="botones">
                <a href="https://github.com">
                    <i class="fa-brands fa-github fa-beat-fade fa-xl" style="color: #B197FC;"></i>
                </a>
            </div>
            
        </div>
    </section>
    
    <%- include('partials/footer')%>
</body>
</html>
